.bo{
    
    border: solid black;
    height: 380px;
    width: 280px;
    margin-left: 150px;
    border: solid 4px black;
    
    
}
.box{ 
     background-color: blue; 
    width: 280px; 
    height: 90px; 
 } 
.stu{
    background-color: rgb(171, 37, 37);
    height: 30px;
    width: 220px;
    margin-top: -280px;
    margin-left: 180px;
}
.po{
    border: solid 68px black;
    height: 120px;
    width: 150px;
    border-top: 10px;
    border-bottom: 10px;
    margin-left: 150px;
    margin-top: -322px;
    
}